body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

header, footer {
  width: 100%;
  font-family: "Oswald", sans-serif;
}

#logo {
  padding: 10px;
  padding-bottom: 20px;
}

h1, h2 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

#question {
  width: 100%;
}

#questionTest {
  border: 1px solid black;
  padding: 10px;
}

#questionWorkings {
  border: 1px solid black;
  padding: 10px;
}

#questionInfo {
  font-family: "Oswald", sans-serif;
}

.answerInput {
  width: 100%;
}

.input-group {
  display: flex;
}

.prefix,
.suffix {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.prefix {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suffix {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.incorrectAnswer {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin-left: 10px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
}

.correct-answer {
  background-color: rgba(212, 237, 218, 0.5);
}

.incorrect-answer {
  background-color: rgba(248, 215, 218, 0.5);
}

.strikethrough {
  text-decoration: line-through;
}

#questionWorkings {
  display: none;
}

main {
  flex: 1;
  width: 100%;
}

/* Add this CSS rule */
footer {
  margin-top: auto;
}

.png-shaped-button {
  background-color: transparent;
  background-image: url("../../assets/img/bricks.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s;
  background-size: cover;
  border: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
            font-weight: 600;
            font-size: 100%;
}

.png-shaped-button:hover {
  transform: scale(1.1);
  background-color: transparent; /* Add this line to make the hover background transparent */
  border: none; /* Add this line to remove the hover border */
}

.png-shaped-button:disabled {
  background-image: url('../../assets/img/bricks1.png');
  background-color: transparent;
  color: black; /* Change the text color to black */
  opacity: 0.5;
}

.q-image {
  width: 60%;
  padding-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
}