<!DOCTYPE html>
<html lang="hu">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Érettségiztető</title>
<link rel="stylesheet" href="assets/css/main.css">
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
</head>
<body>
<img id="logo" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/77324/rooftop-clipart-md.png" alt="Logo">
<h1>Érettségiztető</h1>
<h2>Érettségi feladatok, egy tető alatt</h2>
<div id="question"></div>
</br>
<div id="questionInfo"></div>
<input type="text" id="answer" placeholder="Válasz">
<button id="submitAnswer">Válasz beküldése</button>
<button id="getRandomQuestion">Véletlen kérdés</button>
<button id="majomButton">Majom</button>
<footer>
  <p>Copyright © 2023 Érettségiztető</p>
  <a href="https://www.flaticon.com/free-icons/monkey" title="monkey icons">Monkey icons created by smalllikeart - Flaticon</a>
</footer>
<script src="assets/js/main.js"></script>
</body>
</html>
